<!-- <div class="section-boxes m-5">

  <div class="action w-full text-center" routerLink="peoples">
    <p class="hover:font-bold cursor-pointer">נתמכים</p>
  </div>
  <div class="action w-full text-center" routerLink="deliveries">
    <p class="hover:font-bold cursor-pointer">משלוחים</p>
  </div>
  <div class="action w-full text-center">
    <p class="hover:font-bold cursor-pointer">משתמשים</p>
  </div>
  <div class="action w-full text-center">
    <p class="hover:font-bold cursor-pointer">דוחות</p>
  </div>
</div> -->

<app-layout *ngIf="remult.authenticated() else loginPage">
  <router-outlet></router-outlet>
</app-layout>
<ng-template #loginPage>
  <router-outlet></router-outlet>
</ng-template>