<div class="absolute left-0 right-0 ml-auto mr-auto top-36 w-2/6 rounded-full animate-bounce transition-all ease-in-out">
    <img alt="example" src="assets/logo.webp" class="w-28 m-auto"/>
    <p class="ymi-p-a my-1 text-white"><span class="ymi-h1-a">{{delivery.count}} עופות</span> - {{delivery.people?.cosher}}</p>
    <p class="ymi-p-a my-1 text-white">הרב {{delivery.people?.firstName}} {{delivery.people?.lastName}} שליט"א</p>
    <p class="ymi-p-a my-1 text-white">מספר אישי: <span class="ymi-h1-a">{{delivery.people?.id}}</span></p>
    <p class="ymi-p-a my-1 text-white">{{delivery.people?.address}} {{delivery.people?.building}}</p>
    <p class="ymi-h2-a my-1 text-white">עודכן ע"י {{delivery.status.at(delivery.status.length-1)?.updatePhone}}</p>
    <p class="ymi-p-a my-1 text-white">לע"נ הרה"ק ר' ישעיה בן ר' משה זיע"א</p>
</div>